@model IEnumerable<Rheal_Assignment_MVC.Models.Trainer>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TrainerId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpertiseRowId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.TrainerId)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ExpertiseRowId)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.TrainerId } )|
        @Html.ActionLink("Delete", "Delete", new { id = item.TrainerId })
    </td>
</tr>
}

</table>
