@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    if (User.IsInRole("Administrator"))
    {
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Manage <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li>@Html.ActionLink("Manage Roles", "Index", "Role")</li>
                <li role="separator" class="divider"></li>
                <li>@Html.ActionLink("Manage Categories", "Index", "AreaOfInterest")</li>
            </ul>
        </li>
    }
    if (User.IsInRole("Trainer"))
    {
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Manage <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li>@Html.ActionLink(linkText: "Your Courses", actionName: "getCourses", controllerName: "Course", routeValues: new { user_id = User.Identity.GetUserId() }, htmlAttributes: new { @class = "link" })</li>
                <li>@Html.ActionLink(linkText: "Add Course", actionName: "addCourse", controllerName: "Course", routeValues: new { user_id = User.Identity.GetUserId() }, htmlAttributes: new { @class = "link" })</li>
                <li role="separator" class="divider"></li>
            </ul>
        </li>
    }
    if (User.IsInRole("Student"))
    {
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Manage <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li>@Html.ActionLink(linkText: "Your Courses", actionName: "GetEnrolledCourses", controllerName: "StudentCourse", routeValues: new { user_id = User.Identity.GetUserId() }, htmlAttributes: new { @class = "link" })</li>
                <li role="separator" class="divider"></li>
            </ul>
        </li>
    }
}
else
{
}

