@model IEnumerable<Rheal_Assignment_MVC.Models.Course>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CourseRowId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseTrainer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseNoOfModules)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CoursePrice)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.CourseRowId)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CourseTrainer)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CourseNoOfModules)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CoursePrice)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new {  id=item.CourseRowId  }) |
        @Html.ActionLink("Delete", "Delete", new {  id=item.CourseRowId  })
    </td>
</tr>
}

</table>
